<ion-header>
	<ion-navbar>
		<ion-title>用户扩展信息设置</ion-title>
		<ion-buttons start>
			<button *ngIf="isReorder" ion-button (click)="saveTags()">
				排序完毕
			</button>
			<button *ngIf="!isReorder" ion-button (click)="reorder()">
				排序
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button (click)="add()" strong>
				新增
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list [reorder]="isReorder" (ionItemReorder)="reorderTags($event)">
		<button (click)="edit(e)" ion-item *ngFor="let e of exts">
			{{ e.label }}
			<ion-note item-end>
				{{ e.format }}
			</ion-note>
			<ion-badge item-end>{{ e.isNumber? '数': '文' }}</ion-badge>
		</button>
	</ion-list>
</ion-content>
