<ion-header>
	<ion-navbar>
		<ion-title>帐目 {{ date }} {{ date | date:'EEEE' }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list ion-row>
		<ion-item-group (click)="edit(r)" *ngFor="let r of account.rows" col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
			<ion-item-divider color="light">
				{{ r.ca | date:'HH:mm:ss' }}
				<ion-note *ngIf="r.customer" item-end>
					{{ r.customer.name }}
				</ion-note>
				<ion-badge color="danger" item-end>{{ r.money | currency:'CNY':true:'1.2-2' }}</ion-badge>
				<ion-badge color="secondary" item-end>{{ r.price | currency:'CNY':true:'1.2-2' }}</ion-badge>
				<ion-badge item-end>{{ r.money - r.price | currency:'CNY':true:'1.2-2' }}</ion-badge>
			</ion-item-divider>
			<orders [orders]="r.orders"></orders>
		</ion-item-group>
	</ion-list>
	<ion-fab left middle>
		<button (click)="show(previous)" [disabled]="!previous" ion-fab><ion-icon name="arrow-dropleft"></ion-icon></button>
	</ion-fab>
	<ion-fab right middle>
		<button (click)="show(next)" [disabled]="!next" ion-fab><ion-icon name="arrow-dropright"></ion-icon></button>
	</ion-fab>
	<ion-fab #fat right bottom>
		<button ion-fab color="dark"><ion-icon name="arrow-dropup"></ion-icon></button>
		<ion-fab-list side="top">
			<button (click)="days();fat.close();" ion-fab>日</button>
			<button (click)="months();fat.close();" ion-fab>月</button>
			<button (click)="years();fat.close();" ion-fab>年</button>
		</ion-fab-list>
	</ion-fab>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-title>合计</ion-title>
		<ion-buttons end>
			<button ion-button color="danger" solid>{{ sum | currency:'CNY':true:'1.2-2' }}</button>
			<button ion-button color="secondary" solid>{{ price | currency:'CNY':true:'1.2-2' }}</button>
			<button ion-button color="primary" solid>{{ sum - price | currency:'CNY':true:'1.2-2' }}</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
