<ion-header>
	<ion-navbar>
		<ion-title>收银</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-list col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4>
				<ion-item>
					<ion-label>日期</ion-label>
					<ion-datetime displayFormat="YYYY-MM-DD" cancelText="取消" doneText="确定" placeholder="收款日期"></ion-datetime>
				</ion-item>
				<ion-item (click)="sub(i)" *ngFor="let i of row.items">
					{{ i.item.name}}
					<ion-badge color="danger">{{ i.num }}</ion-badge>
					&#10005;
					<ion-badge>{{ i.item.price}}</ion-badge>
					=
					<ion-badge color="secondary">{{ i.price | currency:'JPY':true:'1.2-2' }}</ion-badge>
					<ion-badge *ngFor="let t of i.item.tags" [color]="t.hide?'light':'primary'" item-end>{{ t.name }}</ion-badge>
				</ion-item>
				<ion-item>
					<ion-label>应收</ion-label>
					<ion-badge color="secondary" item-end>{{ receivable | currency:'JPY':true:'1.2-2' }}</ion-badge>
				</ion-item>
				<ion-item (click)="money()">
					<ion-label>实收</ion-label>
					<ion-badge color="danger" item-end>{{ row.money | currency:'JPY':true:'1.2-2' }}</ion-badge>
				</ion-item>
			</ion-list>
			<filter-items (select)="addItem($event)" col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8></filter-items>
		</ion-row>
	</ion-grid>
</ion-content>
